@import './../../utils/StyleUtils.scss';

.nav-background-color {
    background-color: white;
}

nav {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;

    .logo {
        width: 7rem;
        height: 3rem;
        background-color: $base-dark;
    }

    .button {
        height: 2.5rem;
        width: 9rem;
        float: right;
        text-align: center;
        line-height: 2.5rem;
    }

    .button-purple {
        @extend .button;
        color: white;
        background-color: $accent-purple;
    }
}