$base-background: #f1f3fe;
$base-dark: #141c3a;
$accent-lime: #6df0c2;
$accent-yellow: #ffc73f;
$accent-purple: #6401e4;

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.text-white {
  color: white;
}

.align-center {
  justify-content: center;
  align-items: center;
}
