$base-background: #F1F3FE;
$base-dark: #141C3A;
$accent-lime: #6DF0C2;
$accent-yellow: #FFC73F;
$accent-purple: #6401E4;

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.wrapper {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}

.text-white {
    color: white;
}
