@import './utils/StyleUtils.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a:link {
    text-decoration: none;
}

body {
    background-color: $base-background;
}

.main-wrapper {
    margin-top: 5rem;
}
