$base-background: #f1f3fe;
$base-dark: #141c3a;
$accent-lime: #6df0c2;
$accent-yellow: #ffc73f;
$accent-purple: #6401e4;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-wrapper {
  margin-top: 5rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.wrapper {
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.nav-background-color {
  background-color: white;
}

nav {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 7rem;
    height: 3rem;
    background-color: $base-dark;
  }

  .button {
    height: 2.5rem;
    width: 9rem;
    float: right;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 900;
  }

  .button-purple {
    @extend .button;
    color: white;
    background-color: $accent-purple;
  }

  @media (max-width: 480px) {
    * {
      font-size: 0.5rem;
    }

    .button {
      width: 22vw;
      height: 6vh;
      line-height: 6vh;
    }

    .logo {
      width: 30vw;
      height: 6vh;
    }
  }
}

#root {
  background-color: $base-background;
  height: 100%;
}

.small-text {
  font-size: 0.7rem;
}

.input {
  border: 1px solid lightgray;
  height: 2.5rem;
}

.main-form {
  height: 80vh;
  margin-bottom: 4rem;

  .fake-pic {
    background-color: $base-dark;
    flex: 3;
  }

  .form {
    justify-content: center;
    align-items: center;
    flex: 2;

    label {
      font-size: 0.9rem;
    }

    .form-box {
      width: 20rem;

      * {
        margin-bottom: 0.5rem;
        border-radius: 0%;
      }
    }

    .form-icons {
      justify-content: space-between;

      * {
        margin: 0;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4rem;
        height: 2.5rem;
        background-color: white;
        border: 0.15rem solid lightgray;
      }
    }

    .text-input {
      @extend .input;
      margin: 0.2rem;
      margin-bottom: 1rem;
      width: 100%;
    }

    .submit-button {
      @extend .input;
      width: 100%;
      color: white;
      background-color: $accent-purple;
    }

    @media (max-width: 480px) {
      .form-box {
        width: auto;
        margin: 2rem 2rem 1rem 2rem;
      }
    }
  }

  @media (max-width: 480px) {
    .fake-height {
      height: 30vh;
    }
  }
}

.section-wrap {
  padding: 0 5rem 5rem 5rem;
}

.yellow-button {
  background-color: $accent-yellow;
  font-size: 1.2rem;
  font-weight: 900;
  border-radius: 5rem;
  border: none;
  padding: 1rem;
}

.yellow-button:hover {
  cursor: pointer;
}

.green-section {
  @extend .section-wrap;

  .picture-and-text {
    height: 50vh;

    .some-text {
      flex: 2;
      align-items: center;

      .text-box {
        width: 15rem;
        padding-top: 3rem;

        .title-text {
          font-size: 2rem;
          font-weight: 900;
          margin-bottom: 2rem;
        }

        .small-text-margin {
          margin-bottom: 1.5rem;
        }
      }
    }

    .green-blob {
      background-color: $accent-lime;
      flex: 5;
    }
  }
}

.big-text-box {
  padding-bottom: 5rem;
  justify-content: center;

  .box-align {
    align-items: center;

    p {
      font-size: 2.5rem;
      font-weight: 900;
    }
  }
}

.numbering-section {
  @extend .section-wrap;
  padding-bottom: 2rem;

  .color-box {
    height: 10rem;
    width: 13rem;
      flex: 1;
    }

  .count-row {
    align-items: center;
    padding-bottom: 3rem;

    .circle-num {
      flex: 1;
      align-items: center;

      .circle {
        display: flex;
        width: 5.5rem;
        height: 5.5rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: white;
        border: 0.7rem solid #00000020;

        p {
          font-size: 2.5rem;
        }
      }
    }

    .text-box {
      flex: 4;

      .big-text {
        font-size: 2rem;
        font-weight: 900;
        padding-bottom: 1rem;
      }
    }
  }

  .yellow-color-box {
    @extend .color-box;
    background-color: $accent-yellow;
  }

  .light-purple-color-box {
    @extend .color-box;
    background-color: $accent-purple;
  }

  .dark-purple-color-box {
    @extend .color-box;
    background-color: $base-dark;
  }
}
.dark-purple-section {
    }
  }
}

.numberingSection {
  @extend .sectionWrap;
}

.darkPurpleSection {
  padding: 0 1.5rem 5rem 1.5rem;
}

.light-purple-section {
  justify-content: center;
}

footer {
  height: 7vh;
  width: 100%;
  background-color: $base-dark;

  .fake-pic {
    display: inline-block;
    width: 7rem;
    height: 2rem;
    background-color: $base-background;
  }
}

@media (max-width: 480px) {
  .main-form {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  footer {
    height: auto;
  }
}
