@use '../../utils/StyleUtils.scss' as *;


.game-wrapper {
    margin-top: 10vh;
    height: 75vh;
    width: fit-content;
    text-align: center;

    .title-text {
        padding-bottom: 3rem;
    }

    .tutorial-text {
        width: 42rem;
        padding-bottom: 5rem;
    }
}

// background-color: $base-dark;
